<%- if @plan %>
<h2>Subscribing to <%= @plan.name %></h2>

  <div class="payment-well" style="margin-top: 0px; margin-bottom: 0px;">
    <div class="row">
      <div id="powered-by-stripe" style="<%= @subscription.errors.any? ? 'display: none;' : '' %> margin-left: auto; margin-right: auto; text-align: center; margin-top: 15px;">
        <img src="<%= asset_path('powered_by_stripe.png') %>">
      </div>
      <div id="payment-errors" class="alert payment-alert" style="<%= @subscription.errors.any? ? '' : 'display: none;' %> margin-bottom: 0px;">
        <% @subscription.errors.full_messages.each do |msg| %>
          <span><%= msg %></span>
        <% end %>
      </div>
    </div>
  </div>
  
  
  <%= simple_form_for [:user, @user, @subscription], html: { id: 'payment-form' } do |f| %>
    <input type="hidden" name="plan_id" value="<%= @plan.id %>" />
    <span class="payment-errors"></span>
    
    <div class="form-row">
      <label>
        <span>Email Address</span>
        <input type="email" size="20" name="email_address"/>
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number"/>
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="4" data-stripe="cvc"/>
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Expiration (MM/YYYY)</span>
        <input type="text" size="2" data-stripe="exp-month"/>
      </label>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year"/>
    </div>
    <button type="submit" class="btn btn-primary">Pay</button>
  <% end %>

<% end %>  



